body{
    background-color: chocolate;
}
#score{
    font-size: medium;
    margin: left;
    float: left;
}
#timer{
    font-size: medium;
    margin: right;
    float: right;
}
#Draw_sketch{
    color: rgb(0, 255, 247);
}